<div class="movie-details">
  <div class="movie-img"><%= image_tag @movie.profile_img %></div>
  <div class="facts">
    <h3><%= @movie.title %></h3>
    <div class="critics">
      <span class="label label-<%= determine_critic_style(@movie) %>">Critics: <%= @movie.critics_score %>%</span>
    </div>
    <div class="viewers">
      <span class="label label-<%= determine_viewer_style(@movie) %>">Viewers: <%= @movie.viewer_consensus %></span>
    </div>
    <div class="vote-count">
      Based on <%= @movie.total_votes %> votes
    </div>
    <div class="time-and-rating">
      <span><%= @movie.runtime %> min</span> |
      <span><%= @movie.rating %></span>
    </div>
  </div>
  <div style="clear:both"></div>
</div>

<div class="synopsis">
  <%= @movie.description %>
</div>

<div class="add-rating">
  <h3>Voice Your Opinion</h3>
  <p>other people should...</p>
  <%= link_to "See At Theater", "#", class: "btn btn-default btn-lg btn-block", id: "positive" %>
  <%= link_to "See At Home", "#", class: "btn btn-default btn-lg btn-block", id: "neutral" %>
  <%= link_to "Don't See", "#", class: "btn btn-default btn-lg btn-block", id: "negative" %>
</div>

<div class="form-action">
  <%= link_to "Rate!", "#", class: "btn btn-primary btn-lg btn-block disabled", id: "submit-vote" %>
</div>