<!DOCTYPE html>
<html>
<head>
  <title>Reel Reviews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Reel Reviews", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse navbar-inverse-collapse collapse" style="height: auto;">
      <ul class="nav navbar-nav">
        <li class="active" id="nav-theater"><%= link_to "In Theaters", movies_path, class: "navbar-link" %></li>
        <li id="nav-search"><%= link_to "Search", filter_movies_path, class: "navbar-link" %></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <% css_class = name == :error ? "danger" : "success" %>
      <div class="alert alert-<%= css_class %>">
        <button type='button' class='close' data-dismiss='alert'><i class="fa fa-times-circle-o"></i></button>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
